"*":
  "atom-package-deps":
    ignored: []
  "autoclose-html": {}
  "autocomplete-plus":
    confirmCompletion: "enter"
    minimumWordLength: 1
    useCoreMovementCommands: false
  core:
    allowPendingPaneItems: false
    automaticallyUpdate: false
    disabledPackages: [
      "linter-javac"
      "project-manager"
      "fast-eslint"
      "linter-js-standard"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "autoclose-html"
    ]
    projectHome: "C:\\Users\\admin\\Desktop\\documents\\projects"
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
    warnOnLargeFileLimit: 2
  editor:
    backUpBeforeSaving: true
    scrollPastEnd: true
    scrollSensitivity: 60
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "83917c78-9c35-f970-8767-722c39816fca"
  "linter-javac":
    additionalClasspaths: "bin/"
    additionalJavacOptions: "-sourcepath src/ -d bin"
  "linter-js-standard":
    showEslintRules: true
  "linter-ui-default":
    showPanel: true
  "one-dark-ui": {}
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
    ignoreWhitespaceOnCurrentLine: false
    ignoreWhitespaceOnlyLines: true
  wordcount:
    alwaysOn: true
    noextension: true
".basic.html.source":
  editor:
    tabLength: 4
".basic.html.text":
  editor:
    tabLength: 4
".c.source":
  editor:
    tabLength: 4
".cpp.source":
  editor:
    tabLength: 4
".gfm.source":
  editor:
    showInvisibles: false
    softWrap: true
    tabLength: 4
".java.source":
  editor:
    tabLength: 4
".python.source":
  editor:
    tabLength: 4
".shell.source":
  editor:
    tabLength: 4
